<a href="https://colab.research.google.com/github/Daniah12345/Daniah123451/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1)** Define two variables price_item1 and price_item2 with the prices of two items, calculate and print the total price of both items

In [ ]:
price_item1="100$"
price_item2="200$"
Total_price=int(price_item1.strip("$"))+int(price_item2.strip("$"))
print(f" the price of the item1:{price_item1}and the  price of the item2:{price_item2}and the total price of them:{ Total_price}$")

 the price of the item1:100$and the  price of the item2:200$and the total price of them:300$

# **2**)Define two variables num_1 and num_2, add them together, and then subtract 3 from the result and print the final result

In [ ]:
num_1=input("Plz enter the first number:")
num_2=input("Plz enter the second number:")
final_result=int(num_1)+int(num_2)-3
print(f"final result:{final_result}")

Plz enter the first number:10
Plz enter the second number:20
final result:27

# **3)** Define two variables the first one named city and the second one named street and print them using formatted string

In [ ]:
city=input("Plz enter the city:")
street=input("Plz enter the street:")
print(f"city:{city} and street:{street}")

Plz enter the city:Amman
Plz enter the street:Abdullah Ghosheh Street
city:Amman and street:Abdullah Ghosheh Street

# **4)**Define a variable named fruit that stores your favourite fruit and then replace any letter inside the string with the letter

In [ ]:
fav_fruit=input("PLZ enter your favourite fruit:")
print(f"After replace the first letter with g ,the word is :{fav_fruit.replace(fav_fruit[0],'g')}")

PLZ enter your favourite fruit:apple
After replace the first letter with g ,the word is :gpple

# **5)**Define any string and count the number of occurrences of a character in the string, example if the string contains "mrmr" and I need to count how many (m) inside string the output should be 2 (do your research about the function that count the number of occurrences of a character in the string)


> Add blockquote

In [ ]:
str=input("Plz enter the string :")
str_=str.upper()
char=input("Plz enter any char inside the string :")
char_=char.upper()
count_char=str_.count(char_)
print(f"the number of occurrences of a character in the string:{count_char}")

Plz enter the string :Dania
Plz enter any char inside the string :A
the number of occurrences of a character in the string:2